<div class="row">
  <div class="col-md-6 col-xs-12">
    <h1><%= @book.name %></h1>
  </div>
  <div class="col-md-6 col-xs-12">
    <h1>Es muy chevere</h1>
    <h3>Mi email es <%= current_user.email %></h3>
  </div>
</div>

<h3>Los capitulos de este libro son:</h3>

<!-- Que es el problema de query N+1 -->
<div class="row">
  <div class="col-md-6">
    <ul id='book-chapters'>
      <% @book.chapters.each do |chapter| %>
        <%= render 'books/chapter', chapter: chapter %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
  <%= form_for [@book, @chapter], remote: true do |f| -%>
    <div class="field-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'  %>
    </div>
    <%= f.fields_for :sentences do |sentences_form| %>
      <div class="field-group">
        <%= sentences_form.label :word_count%>
        <%= sentences_form.number_field :word_count, class: 'form-control' %>
      </div>
    <% end %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
